<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/coverVote.js')}}"></script>
  </head>
 <body>
   <h1>CoverVote</h1>
   <p>
     <button type="button" id="addsong" class="btn btn-lg">
       Add song
     </button>
   </p>
   <div class="submit_form">
     <form action="{{ url_for('submitsong') }}" method="Post" id="submitsong"> 
       <label for="artist">Artist:</label><br>
       <input type="text" name="artist"><br>
       <label for="song">Song:</label><br>
       <input type="text" name="song"><br>
       <input type="submit" value="Submit">
     </form>
   </div>
    <table class="table" style="padding-left:5px;">
     <th>Trackname</th>
     <th>Artist</th>
     <th>Album</th>
     <th>Album art</th>
     {% for track in tracks %}
     <tr>
       <th>{{ track["trackname"] }}</th>
       <td>{{ track["artist"] }} </td>
       <td>{{ track["album"] }} </td>
       <td><img src="{{ track["picture"] }}" </td>
     </tr>
     {% endfor %}
   </table>
    <div id="SuggestModal" class="modal fade">
     <div class="modal-dialog">
       <div class="modal-content">
	 <div class="modal-header">
	   <button type="button" class="close" data-dismiss="modal">&times</button>
	   <h4 class="modal-title">Velg Sang</h4>
	 </div>
	 <div class="modal-body">
	   <table id="Options" class="table table-hover table-condenced">
	     <th>Trackname</th>
	     <th>Artist</th>
	     <th>Album</th>
	     {% for song in search_result %}
	     <tr>
	       <th>{{ song["trackname"] }}</th>
	       <td>{{ song["artist"] }} </td>
	       <td>{{ song["album"] }} </td>
	     </tr>
	     {% endfor %}
	   </table>
	 </div>
	 <div class="modal-footer">	
 
	 </div>
       </div>
     </div>
   </div>
 </body>
</html>
