<!doctype html>
<title>Add song</title>
<form action="{{ url_for('submitsong') }}" method="Post"> 
	<label for="artist">Artist:</label><br>
	<input type="text" name="artist"><br>
	<label for="song">Song:</label><br>
	<input type="text" name="song"><br>
	<label for="album">Album*:</label><br>
        <input type="text" name="album"><br>
	<label for="url">Link to song*:</label><br>
	<input type="text" name="URL"><br><br>
	<label for="description">Album or link to song is not necessary, but will help making sure it's the right song</label><br><br>
	<input type="submit" value="Submit">
</form>
